$main-yellow: #ff9d00;
$main-text-color: #373737;
$scnd-text-color: #313131;
$roboto: "Roboto-Regular",
sans-serif;
$roboto-bold: "Roboto-Bold",
sans-serif;
$roboto-light: "Roboto-Light",
sans-serif;
$roboto-black: "Roboto-Black",
sans-serif;
$mq-breakpoints: ( mobile: 320px, mobile-330: 330px, mobile-wide: 576px, tablet: 768px, modal: 800px, modal-sm: 630px, desktop: 992px, desktop-special: 1055px, wide: 1200px, w1650: 1650px,
/* Tweakpoints*/

desktopAd: 810px, mobileLandscape: 480px);